body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product {
    width: calc(25% - 20px);
    /* Kutuların genişliği, kenar boşluklarla birlikte */
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
    max-height: 300px;
    /* Resimlerin maksimum yüksekliği */
    object-fit: cover;
}

.product h3 {
    margin: 10px 0 5px 0;
}

.product p {
    margin: 0;
    color: #888;
    font-size: 18px;
}