body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.banner {
    background-color: #FFD95A;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFD95A;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #eba415;
}

.dropdown-group {
    margin-top: 10px;
}

.dropdown-group button {
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FFD95A;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}

.dropdown-group button:hover {
    background-color: #eba415;
}

.search-container {
    margin-bottom: 20px;
    text-align: right;
}

.search-container input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-section,
.offers-section,
.brands-section {
    margin-bottom: 20px;
}

.product-section h3,
.offers-section h3,
.brands-section h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 22px;
}

.product-list,
.offers-list,
.brands-list {
    display: flex;
    overflow-x: scroll;
}

.product,
.offer,
.brand {
    min-width: 200px;
    margin-right: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img,
.offer img,
.brand img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #FFD95A;
    color: white;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.brand img {
    width: 150px;
    height: 100px;
    object-fit: contain;
}